!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
  %body{ style: "font-size: 14px; color: #333333; line-height: 20px; letter-spacing: 0.5px;" }
    #email_content{ style: "background: #F3F3F3; text-align: left; box-sizing: border-box; position: relative; margin: 60px auto; border: 1px solid silver; width: 600px; border-radius: 5px;" }
      %header{ style: "background: none; padding: 20px 17px;" }
        %h1 Infiniti Linens
      .border{ style: "border-bottom: 1px solid silver; margin: 0 18px;" }
      .panes{ style: "padding: 10px 23px 20px 23px; box-sizing: border-box;" }
        .pane{ style: "display: block;" }
          %h3{ style: "margin-bottom: 2px;" }
            Hello,
          %p{ style: "margin-bottom: 5px;" }
            Someone is trying to reach us, following are the details of the user,
          %p{ style: "margin-bottom: 5px;" }
            User Name : "#{@name}"
            %br
            Email: "#{@email}"
            %br
            Message: "#{@message}"
            %br
          %p
            Thank you,
          %p
            = "- Tech @ Infiniti Linens"
