%div{style: "display: none;"}
  #inline1{style: "width: 700px; height: 500px; overflow: auto;"}
    %h2
      Color Shade
    %hr/
    %img{src: "../assets/colorbook.png"}/
  #inline2{style: "width: 480px; height: 500px; overflow: auto;"}
    %h2
      Table Linen - Quality Guide
    %div
      %strong Polyester
      %div
        Fabrics are made from 2 ply Spun Polyester yarns having the best linting, picking
        pilling resistant properties. Their innovative soil release and water absorbing
        qualities enable the fabric to retain colours and size after multiple washings.
        A longer shelf life with significantly fewer stain rejects gives the fabric a soft
        feel good look day after day.
    %hr{style: "width: 80%; align: center; color: #2B96F1"}/
    %div
      %strong Cotton
      %div
        Fabrics are made from 2 ply Cotton Ringspun Combed yarns. Ringspun technique gives
        a distinctive softness to the fabric and enhances suppleness and smoothness of the
        table linen.
    %hr{style: "width: 80%; align: center; color: #2B96F1"}/
    %div
      %strong Cotton-Polyester
      %div
        Fabrics are made from a versatile cotton rich polyester blend which retains the
        coolness and lightness of cotton fiber and also adds strength, durability and wrinkle
        resistance of polyester. This uniqueness guarantees longer life and better colour
        lasting than a regular cotton fabric table linen.
    .basiclogo
      %img{src: "../assets/logosmall.png"}/
