.footer
  %div{style: "width: 1090px; margin: auto;"}
    .plinks{style: "float: left; width: 22%; margin-left: 3%;"}
      %h2
        %img.iconsfoot{src: "../assets/icons/links_blue.png"}
        %span.iconsfoot_text Browse
      #menu2
        %ul
          %li
            = link_to 'Site Map', sitemap_path
          %li
            = link_to 'Privacy Policy', privacy_path

    %div{style: "float: left; width: 35%; margin-left: 4%;"}
      %h2
        %img.iconsfoot{src: "../assets/icons/newsletter_blue.png"}
        %span.iconsfoot_text Newsletter
        %br
        %span.notice
        = form_for :newsletter, url: send_newsletter_email_pages_path, remote: true, html: { class: 'send_newsletter'} do |f|
          %input.search{type: "text", name: 'email', placeholder: "info@infinitilinens.com", class: 'newsletterEmail'}
          %input.button{type: "submit", value: "Send"}
      %em
        You'll get an email about our website and product-related updates and we'll never
        share your email address.

    %div{style: "float: left; width: 27%; margin-left: 4%;"}
      %h2
        %img.iconsfoot{src: "../assets/icons/home_blue.png"}
        %span.iconsfoot_text Contact Us
      %p
        Infiniti Linens, 3, Kuntal, Modi Industrial Estate,
        %br
        L.B.S. Marg, Ghatkopar (W) Mumbai – 400086 India
        %br
        %b Tel:
        +91 8080036412/ 13/ 14
        %br
    %br{style: "clear: left;"}

  .foot_footer
    %div{style: "width: 36%; padding-top: 2px; position: relative; float: left; margin-left: 11%"}
      © Copyrights 2014. All Rights Reserved. Kalpesh Synthetics Pvt. Ltd.
    %div{style: "padding-top: 2px; margin-left: 75%"}
      %span
        Design|Code --
        %a{href: "http://sinhaabhijitp.tumblr.com/", target: "_blank"} PositiveVibes
    %div{style: "clear: both"}
