.header
  .logo
    %a{href: "/", title: "Home"}
      %span.logo
  #followinfiniti
    %a{href: TWITTER_URL}
      %img{alt: "infiniti-twitter", src: "../assets/social/infiniti_twitter.png"}
    %a{href: FACEBOOK_URL}
      %img{alt: "infiniti-facebook", src: "../assets/social/infiniti_facebook.png"}
    %img{alt: "infiniti-linkedin-comingsoon", src: "../assets/social/infiniti_linkedin.png"}

.dcjq-mega-menu
  %ul#mega-menu-tut.menu
    %li
      = link_to "Home", home_path, class: 'mainmenu'
    %li
      = link_to "About", about_path
    %li
      = link_to portfolio_path do
        %span Products
      %ul
        %li#menu-item-1
          = link_to 'Table Linen', products_path
          %ul
            %li
              = link_to 'Napkin', products_path + '?napkins'
            %li
              = link_to 'Table Cloths', products_path + '?tablecloths'
            %li
              = link_to 'Table Runners', products_path + '?trunners'
            %li
              = link_to 'Aprons', products_path + '?aprons'
            %li
              = link_to 'Miscellaneous', products_path
    %li
      = link_to "Contact", contact_path
