%div{style: "display: none;"}
  #inlinec{style: "width: 600px; height: 500px; overflow: auto;"}
    %strong D'Zire Collections
    %hr
    %em Infiniti Linens
    %br
    %br
    %img{src: "../assets/products/backleaf.gif?rand=\#{SecureRandom.hex}"}
  #inlinecolor{style: "width: 700px; height: 500px; overflow: auto;"}
    %strong Color Chart
    %hr
    %em Infiniti Linens
    %br
    %img{src: "../assets/colorbook.png"}
    %p
      Note: Actual colors may vary due to individual computer screen interpretation.
  #designbook{style: "width: 700px; height: 500px; overflow: auto;"}
    %strong Design Collections
    %hr
    %em Infiniti Linens
    %br
    %img{src: "../assets/designimage.png"}
