#sliderinfiniti
  #slidingFeatures
    %div{title: "Infiniti Linens#1"}
      %img{alt: "Infiniti Linens#1", src: "../assets/sliderimages/slide_image1.png"}/
    %div{title: "Infiniti Linens#2"}
      %img{alt: "Infiniti Linens#2", src: "../assets/sliderimages/slide_image2.png"}/
    %div{title: "Infiniti Linens#3"}
      %img{alt: "Infiniti Linens#3", src: "../assets/sliderimages/slide_image3.png"}/
    %div{title: "Infiniti Linens#4"}
      %img{alt: "Infiniti Linens#4", src: "../assets/sliderimages/slide_image4.png"}/
