#sep
#testimonials_client
  .left_tc
    #clients
      %img{src: "../assets/clients/1.png"}/
      %img{src: "../assets/clients/2.png"}/
      %img{src: "../assets/clients/13.png"}/
      %img{src: "../assets/clients/11.png"}/
      %img{src: "../assets/clients/5.png"}/
      %img{src: "../assets/clients/10.png"}/
      %img{src: "../assets/clients/4.png"}/
      %img{src: "../assets/clients/8.png"}/
      %img{src: "../assets/clients/9.png"}/
      %img{src: "../assets/clients/6.png"}/
      %img{src: "../assets/clients/7.png"}/
      %img{src: "../assets/clients/12.png"}/
      %img{src: "../assets/clients/3.png"}/
