.boxes_3col
  .box1_3col
    .box_body
      .box_top
      .contents
        %h1
          Factory Direct with Retail like experience
        .picture
          %img{alt: "", src: "../assets/box_image1.png"}/
        %p
          Being a manufacturer, Infiniti Linens holds one of the largest stocks of Spun Polyester
          fabrics for Table Linen. Customers can order minimum quantities in custom dimensions
          from shades of 30 colors and whites.
      %a#cshade.link{href: "#inlinecolor"}
        %span.icon.cufon>
        Shade
        Card
      .clear
      .box_down
  .box2_3col
    .box_body
      .box_top
      .contents
        %h1
          Assorted Damask Range
        .picture
          %img{alt: "", src: "../assets/box_image2.png"}/
        %p
          We carry one of the widest range of Damask Napkins and Table Cloth fabrics in India.
          Table cloths can be custom ordered in square, circle and rectangle dimensions from
          30 inches to 120 inches without any joints and above 120 inches with joints.
      %a#designc.link{href: "#designbook"}
        %span.icon.cufon>
        Design
        Collection
      .clear
      .box_down
  .box3_3col
    .box_body
      .box_top
      .contents
        %h1
          Exclusive Jacquards
        .picture
          %img{alt: "", src: "../assets/box_image3.png"}/
        %p
          Our D’zire range enables Hotels/Restaurants to customize logos, brand names and
          designs on Linens in repeatless patterns, thereby giving a personalized touch in
          front of their esteemed clientele.
      %a#cgrill.link{href: "#inlinec"}
        %span.icon.cufon>
        Customizations
      .clear
      .box_down
  .clear
