- content_for :page_title, 'About'

= render 'pages/big_carousel'
.slide_footer
  %h3{style: "font-family: 'Dynalight', cursive; font-size: 31px; color: #2b96f1; margin-top: 24px;\r\n                    position: relative;"} About Us
  %h2#slfoot
    Find out how and where it all began and where we are headed tomorrow. Our goal is the become the quintessential source of Hospitality Linens across the globe.
%br
%br

.box_full.subpage
  .rightcolumn
    .box_body
      .box_top
      .contents
        .r_column
          %h2
            Main menu
          .subnav
            .subnav_top
            %ul
              %li.page_item
                = link_to "Home", home_path
              %li.current_page_item
                = link_to "About", about_path
              %li.page_item
                = link_to "Contact", contact_path
              %li.page_item
                = link_to "Portfolio", portfolio_path
            %p
              Please click below to view/save our E-Brochure
              %br/
              %br/
              %a{href: "#", onclick: "window.open('http://www.infinitilinens.com/Infiniti Linens-E-brochure.pdf', 'NewWin');", style: "color: #0098d1; font-size: 12px; text-decoration: underline"}
                E-Brochure Link
            .subnav_down
          .box
        .page
          .page_border.gallery
            %p
              %strong Our Establishment
              %br/
              Incorporated in 1987, Kalpesh Synthetics Pvt Ltd has been catering to domestic and
              international Textile market demands for the last 23 years.
              %br/
              %br/
              %strong Where it all began
              %br/
              Our forefathers first began trading bath towels and table linens in 1965. Later
              on when next generations of family entered the business and studied existing textile
              market conditions, they soon recognized a lack of quality textile manufacturers
              in the domestic market. This led to construction of Kalpesh Synthetics’s first textile
              manufacturing facility in 1988.
              %br/
              %br/
              %strong What are we doing
              %br/
              Since then Kalpesh Synthetics Pvt Ltd has been synonymous with quality and excellence
              in the industry.
            %ul
              %li
                After successfully catering to the demands of domestic markets for over a decade
                we expanded our focus to international markets.
              %li
                We are now a leading manufacturing and distribution company with a strong focus
                on supply of high quality and competitively priced Hospitality Linens.
              %li
                Our experience, market knowledge and product diversity along with continued investment
                in latest machinery ensures that we can meet any type of customer requirements.
              %li
                In the next few years, our goal is to expand our products and services to the extent
                where we are known as the quintessential source for Hospitality Linens across the
                globe, be it a stand alone restaurant or multinational group of Hotel chains.
            We now have our corporate head quarters in Mumbai with our state of the art manufacturing
            facilities and distribution centers located in textile zones of Gujarat.
        .clear
      .clear
      .box_down
