- content_for :page_title, 'Contact Us'

= render 'pages/big_carousel'
.slide_footer
  %h3{style: "font-family: 'Dynalight', cursive; font-size: 31px; color: #2b96f1; margin-top: 24px;\r\n                    position: relative;"}
    Contact Us
  %h2#slfoot
    If you have any suggestions for us, then we would love to hear your feedback as
    this would help us grow and make better and improved products as per your needs
    and desires.
%br
%br

.box_full.subpage
  .rightcolumn
    .box_body
      .box_top
      .contents
        .r_column
          %h2
            Main menu
          .subnav
            .subnav_top
            %ul
              %li.page_item
                = link_to "Home", home_path
              %li.page_item
                = link_to "About", about_path
              %li.current_page_item
                = link_to "Contact", contact_path
              %li.page_item
                = link_to "Portfolio", portfolio_path
            %p
              Please click below to view/save our E-Brochure
              %br/
              %br/
              %a{href: "#", onclick: "window.open('http://www.infinitilinens.com/Infiniti Linens-E-brochure.pdf', 'NewWin');", style: "color: #0098d1; font-size: 12px; text-decoration: underline"}
                E-Brochure Link
            .subnav_down
          .box
        .page
          .page_border.gallery
            .entry
              #SocialBox
                .hoffice
                  %h4 Head Office:
                  3, Kuntal, Modi Industrial Estate,
                  %br
                  L.B.S. Marg, Ghatkopar (West)
                  %br/
                  Mumbai – 400086 India
                  %br/
                  %strong Phone
                  +91 8080036412/ 13/ 14
                  %br/
                  %strong Fax
                  +91 22 25094787
                  %br/
                .foffice
                  %h4
                    Factory:
                  Kalpesh Synthetics Pvt Ltd.
                  %br/
                  Dehri Road, Umergaon, Dist Valsad,
                  %br/
                  Gujarat – 396171 India
                  %br/
                .sociallinks
                  %h4
                    Infiniti @ Email:
                  %a{href: "mailto:info@infinitilinens.com"} info@infinitilinens.com
                  %br/
                  %br/
                  %h4
                    Infiniti @ Social:
                    %a{href: "https://twitter.com/infinitilinens"}
                      %img{alt: "il", src: "../assets/social/infiniti_twitter.png"}/
                    %a{href: "http://www.facebook.com/pages/FB-Linen-Infiniti-Linens/308724029168969"}
                      %img{alt: "il", src: "../assets/social/infiniti_facebook.png"}/
                    %img{alt: "il", src: "../assets/social/infiniti_linkedin.png"}/
                %br{style: "clear: left;"}/
              %div{style: "margin: auto; width: 25%; font-family: 'Dynalight', cursive; font-size: 26px;\r\n                                        color: #2b96f1"}
                \--- Write to us ---
              .messagewrapper
                = form_for :email, url: send_contact_email_pages_path, remote: true, method: :post, html: { class: 'commentForm' } do |f|
                  %span#notifications
                  .lcontact
                    %ol.clearfix
                      %li
                        %label{for: "firstname"}
                          Name
                        %input#contactName{name: "firstname", size: "35", type: "text"}/
                      %br/
                      %li
                        %label{for: "email"}
                          E-Mail
                        %input#contactEmail{name: "email", size: "35", type: "text"}/
                      %li
                        %label{for: "subject"}
                          Subject
                        %input#contactSubject{name: "subject", size: "35", type: "text"}/
                  .rcontact
                    %ol
                      %li
                        %label{for: "content"}
                          Message
                        %textarea#contactMessage{cols: "32", name: "content", rows: "7"}
                      %li.last
                        %input#msubmit{name: "submit", type: "submit", value: "Submit"}/
                  %div{style: "clear: both;"}
                %br/
        .clear
      .clear
      .box_down
