- content_for :page_title, 'Home'

= render 'pages/big_carousel'
.slide_footer
  %h3{style: "font-family: 'Dynalight', cursive; font-size: 31px; color: #2b96f1; margin-top: 24px;\r\n                    position: relative;"} Welcome
  %h2#slfoot
    %b{style: "color: #005180;"} Infiniti Linens
    is a manufacturer of a wide variety
    of Linens for worldwide Hospitality industry. Abundant research and technology have
    gone into making a superlative product range which continues to set new standards
    in the industry. Our linens come highly rated for their performance, consistency,
    value and durability. Product range comprises of Table and Bath linens in an assortment
    of blends, styles and colours.
%br
%br
= render 'pages/home_three_box'
= render 'pages/home_clients'
