- content_for :page_title, 'Portfolio'

= render 'pages/big_carousel'
.slide_footer
  %h3{style: "font-family: 'Dynalight', cursive; font-size: 31px; color: #2b96f1; margin-top: 24px; position: relative;"}
    Portfolio
  %h2#slfoot
    %b{style: "color: #005180;"} Infiniti Linens
    is a manufacturer
    of a wide variety of Linens for worldwide Hospitality industry. Abundant research
    and technology have gone into making a superlative product range which continues
    to set new standards in the industry. Our linens come highly rated for their performance,
    consistency, value and durability. Product range comprises of Table and Bath linens
    in an assortment of blends, styles and colors.
%br
%br

.box_full.subpage
  .rightcolumn
    .box_body
      .contents
        .r_column
          %h2
            Main menu
          .subnav
            .subnav_top
            %ul
              %li.page_item
                = link_to "Home", home_path
              %li.page_item
                = link_to "About", about_path
              %li.page_item
                = link_to "Contact", contact_path
              %li.current_page_item
                = link_to "Portfolio", portfolio_path
            %p
              Please click below to view/save our E-Brochure
              %br/
              %br/
              %a{href: "#", onclick: "window.open('http://www.infinitilinens.com/Infiniti Linens-E-brochure.pdf', 'NewWin');", style: "color:#0098d1;font-size:12px;text-decoration:underline"} E-Brochure Link
            .subnav_down
          .box
        .page
          .page_border
            %br/
            %img.alignleft{alt: "Hotels & Restaurants", src: "../assets/portfolio/foodandbeverages.png"}/
            %h4.portfoliotitle
              Table Linen
            %p
              Product range comprises of Dinner and Cocktail Table Napkins, Table Cloths, Aprons,
              Chair Covers, Placemats and Traymats in an assortment of styles, designs and colors
              in Spun Polyester, Cotton and Cotton rich Polyester blends
              %br/
              = link_to 'Learn More', products_path
            .clear
            %br/
        .clear
      .clear
