- content_for :page_title, 'Privacy Policy'

#otherpp
  %h3
    Privacy Policy
  %strong General Information
  %br/
  %p
    We collect the e-mail addresses of those who communicate with us via e-mail and
    those who have registered with us for our newsletters. The is used to improve the
    quality of our products and make our customer aware about the new and enhanced services
    we can offer them with time.
