- content_for :page_title, 'Products'

.mp_wrapper
  #mp_content_wrapper.mp_content_wrapper
    .mp_content
      %img{alt: "img", src: "../assets/products/main/tablelinen1.png"}/
  .mp_player
    .triangle-border.detailed
      %strong.headertable Table Linens
      %hr/
      %span.detailedp Select from the products.
    .colorsize
      %a#qualitychart.csbuttons{href: "#inline2"} Quality Chart
      %em /
      %a#colorshade.csbuttons{href: "#inline1"} Color Chart
    .rowbar
      .rows
        .left
          %img{src: "../assets/products/thumbs/plains_thumb.png"}/
        .right
          Basics
          %br/
          %em Traditional designs
        %div{style: "clear: both"}
      .rows
        .left
          %img{src: "../assets/products/thumbs/classics_thumb.png"}/
        .right
          Classics
          %br/
          %em Timeless designs
        %div{style: "clear: both"}
      .rows
        .left
          %img{src: "../assets/products/thumbs/jacquard_thumb.png"}/
        .right
          Jacquards
          %br/
          %em Engineered concepts
        %div{style: "clear: both"}
      .rows
        .left
          %img{src: "../assets/products/thumbs/dzire_thumb.png"}/
        .right
          D'zire
          %br/
          %em Dream collection
        %div{style: "clear: both"}
  %ul#mp_albums.mp_albums.jcarousel-skin
    %li#napkins
      %img{src: "../assets/products/thumbs/plains_poly.png"}/
      %h4.subtitle
        Napkins
    %li#tablecloths
      %img{src: "../assets/products/thumbs/tablecloth_thumb.png"}/
      %h4.subtitle
        Table Cloths
    %li#trunners
      %img{src: "../assets/products/thumbs/tablerunner_thumb.png"}/
      %h4.subtitle
        Table Runners
    %li#aprons
      %img{src: "../assets/products/thumbs/aprons_thumb.png"}/
      %h4.subtitle
        Aprons
    %li#handtowels
      %img{src: "../assets/products/thumbs/handtowels_thumb.png"}/
      %h4.subtitle
        Hand Towels
  %div{style: "display: none;"}
    #inline1{style: "width: 700px; height: 500px; overflow: auto;"}
      %h2
        Color Shade
      %hr/
      %img{src: "../../assets/colorbook.png"}/
    #inline2{style: "width: 480px; height: 500px; overflow: auto;"}
      %h2
        Table Linen - Quality Guide
      %div
        %strong Polyester
        %div
          Fabrics are made from 2 ply Spun Polyester yarns having the best linting, picking
          pilling resistant properties. Their innovative soil release and water absorbing
          qualities enable the fabric to retain colours and size after multiple washings.
          A longer shelf life with significantly fewer stain rejects gives the fabric a soft
          feel good look day after day.
      %hr{style: "width: 80%; align: center; color: #2B96F1"}/
      %div
        %strong Cotton
        %div
          Fabrics are made from 2 ply Cotton Ringspun Combed yarns. Ringspun technique gives
          a distinctive softness to the fabric and enhances suppleness and smoothness of the
          table linen.
      %hr{style: "width: 80%; align: center; color: #2B96F1"}/
      %div
        %strong Cotton-Polyester
        %div
          Fabrics are made from a versatile cotton rich polyester blend which retains the
          coolness and lightness of cotton fiber and also adds strength, durability and wrinkle
          resistance of polyester. This uniqueness guarantees longer life and better colour
          lasting than a regular cotton fabric table linen.
      .basiclogo
        %img{src: "../assets/logosmall.png"}/
  .backgroundeffect
%br
%br
