- content_for :page_title, 'Sitemap'

#otherpp
  %h3
    Sitemap
  %ul
    %li
      = link_to 'Infiniti Linens: Home', home_path
    %li
      = link_to 'Infiniti Linens: Portfolio', portfolio_path
    %li
      = link_to 'Infiniti Linens: About', about_path
    %li
      = link_to 'Infiniti Linens: Product Gallery', products_path
      %ul
        %li
          = link_to 'Napkin', products_path + '?napkins'
        %li
          = link_to 'Table Cloths', products_path + '?tablecloths'
        %li
          = link_to 'Table Runners', products_path + '?trunners'
        %li
          = link_to 'Aprons', products_path + '?aprons'
    %li
      = link_to 'Infiniti Linens: Contact', contact_path
  #misclinks
    %em Other Important Links
    %ul
      %li
        %a#qualitychart{href: "#inline2"} Quality Chart
      %li
        %a#colorshade{href: "#inline1"} Color Chart
      %li
        %a{href: "#", onclick: "window.open('http://www.infinitilinens.com/Infiniti Linens-E-brochure.pdf', 'NewWin');"}
          E-Brochure Link
= render 'shared/color_quality_overlays'
