/*** TOPMENU ***/
ul#nav li a {
    color: #FFF;
    text-decoration: none;
}

ul#nav li a:hover {
    color: #FFF;
    text-decoration: none;
}

ul#nav li.current_page_item {
    background: url(../assets/topmenu_active.gif) bottom right no-repeat;
}

ul#nav li.current_page_item a {
    background: url(../assets/topmenu_active.gif) top left no-repeat;
}

ul#nav li:hover,ul#nav li.current_page_item:hover {
    background: url(../assets/topmenu_hover.gif) bottom right no-repeat;
}

ul#nav li:hover a,ul#nav li.current_page_item:hover a {
    background: url(../assets/topmenu_hover.gif) top left no-repeat;
}

ul#nav ul li,ul#nav ul a {
    background: none !important;
}

ul#nav ul li.current_page_item a {
    background: url(../assets/submenu_active.gif) 8px 10px no-repeat #F5F5F5 !important;
}

ul#nav ul li.current_page_item li a {
    background: #F5F5F5 !important;
}

ul#nav ul ul li.current_page_item a {
    background: url(../assets/submenu_active.gif) 8px 10px no-repeat #F5F5F5 !important;
}

ul#nav ul ul li.current_page_item li a {
    background:#F5F5F5!important
}

ul#nav ul ul ul li.current_page_item a {
    background: url(../assets/submenu_active.gif) 8px 10px no-repeat #F5F5F5 !important;
}

ul#nav ul ul ul li.current_page_item li a {
    background: #F5F5F5 !important;
}

ul#nav li ul a {
    color: #777;
}

ul#nav li:hover ul a,ul#nav ul li:hover ul a,ul#nav ul ul li:hover ul a {
    color: #777;
    background-color: #F5F5F5 !important;
}

ul#nav ul li:hover a,ul#nav ul ul li:hover a,ul#nav ul ul ul li:hover a {
    color: #000;
    background-color: #E9E9E9 !important;
}

ul#nav ul a:hover,ul#nav ul li:hover a:hover,ul#nav ul ul li:hover a:hover,ul#nav ul ul ul li:hover a:hover {
    color: #000;
    background-color: #E9E9E9 !important;
}

/*** SLIDES ***/
div.slider .picture {
    border-top: 1px solid #B1B1B1;
    background-color: #444;
}

div.slide_footer H2 {
    color: #A0A0A0;
}

/*** BOXES ***/
div.box1_3col H1 {
    color: #2B6620;
}

div.box1_3col .picture img {
    border-top-color: #2B6620;
}

div.box1_3col a.link {
    color: #2B6620;
}

div.box1_3col a.link:hover {
    color: #2B6620;
    text-decoration: underline;
}

div.box1_3col a.link .icon {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../assets/icon_ball.png');
}

div.box1_3col a.link .icon[class] {
    background: url(../assets/icon_ball.png) top left no-repeat
}

div.box2_3col H1 {
    color: #7D6D22
}

div.box2_3col .picture img {
    border-top-color: #7D6D22
}

div.box2_3col a.link {
    color: #7D6D22
}

div.box2_3col a.link:hover {
    color: #7D6D22;
    text-decoration: underline
}

div.box2_3col a.link .icon {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../assets/icon_ball.png')
}

div.box2_3col a.link .icon[class] {
    background: url(../assets/icon_ball.png) top left no-repeat
}

div.box3_3col H1 {
    color: #526871
}

div.box3_3col .picture img {
    border-top-color:#526871
}

div.box3_3col a.link {
    color:#526871
}

div.box3_3col a.link:hover {
    color:#526871;
    text-decoration:underline
}

div.box3_3col a.link .icon {
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../assets/icon_ball.png')
}

div.box3_3col a.link .icon[class] {
    background:url(../assets/icon_ball.png) top left no-repeat
}

/*** SUBMENU ***/
div.r_column h2 {
    color:#888
}

div.r_column h2 a {
    color:#888;
    text-decoration:none
}

div.r_column h2 a:hover {
    color:#333;
    text-decoration:none
}

/*** SUBPAGE ***/
div.page h1 {
    color:#888
}

div.page h2 {
    color:#888
}

div.page h3 {
    color:#888
}

div.page h4 {
    color:#888
}

div.page h5 {
    color:#888
}

div.page h6 {
    color:#888
}
