.jcarousel-skin .jcarousel-container {
    position:absolute;
    top:430px;
    left:0;
    background:transparent url(../assets/productbg.png) repeat top left;
    -moz-border-radius:0 0 0 10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

.jcarousel-skin .jcarousel-container-horizontal {
    width:640px;
    padding:12px 40px
}

.jcarousel-skin .jcarousel-clip-horizontal {
    width:640px;
    height:117px
}

.jcarousel-skin .jcarousel-item {
    width:110px;
    height:117px
}

.jcarousel-skin .jcarousel-item-horizontal {
    margin:0 19px 0 0
}

.jcarousel-skin .jcarousel-item-placeholder {
    background:#fff;
    color:#000
}

.jcarousel-skin .jcarousel-next-horizontal {
    position:absolute;
    top:60px;
    right:10px;
    width:16px;
    height:16px;
    cursor:pointer;
    background:transparent url(../assets/br_next.png) no-repeat center center
}

.jcarousel-skin .jcarousel-prev-horizontal {
    position:absolute;
    top:60px;
    left:10px;
    width:16px;
    height:16px;
    cursor:pointer;
    background:transparent url(../assets/br_prev.png) no-repeat center center
}
