/* Reset code to remove theme inherent styling */
.dcjq-mega-menu {
/*background-image: url("../assets/folded-ribbon.png");
    background-repeat: repeat;*/
    height:42px;
    left:48.6%;
    position:absolute;
    top:50px;
    width:48%;
    background:#ebf1f6;
/* Old browsers */
    background:-moz-linear-gradient(top,rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%);
/* FF3.6+ */
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(235,241,246,1)),color-stop(50%,rgba(171,211,238,1)),color-stop(51%,rgba(137,195,235,1)),color-stop(100%,rgba(213,235,251,1)));
/* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top,rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%);
/* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top,rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%);
/* Opera 11.10+ */
    background:-ms-linear-gradient(top,rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%);
/* IE10+ */
    background:linear-gradient(top,rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%);
/* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6',endColorstr='#d5ebfb',GradientType=0);
/* IE6-9 */
    border:solid 1px #fff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px
}

.dcjq-mega-menu ul.menu ul,.dcjq-mega-menu ul.menu li {
    list-style:none;
    padding:0;
    margin:0;
    text-align:left
}

.dcjq-mega-menu ul.menu ul {
    display:none
}

.dcjq-mega-menu ul.menu .sub ul {
    display:block
}

/* Main menu styles */
.dcjq-mega-menu ul.menu {
    position:relative;
    font-size:14px;
    line-height:13px;
    font-family:'Marmelad',sans-serif
}

.dcjq-mega-menu ul.menu li {
    float:left
}

.dcjq-mega-menu ul.menu li a {
    float:left;
    display:block;
    padding:1px 29px;
    color:#000;
    text-decoration:none
}

.dcjq-mega-menu ul.menu li.mega-hover a,.dcjq-mega-menu ul.menu li a:hover {
    background-position:100% -40px;
    color:#000;
    text-shadow:none
}

/* Arrow tag for parent links */
.dcjq-mega-menu ul.menu li a.dc-mega {
    padding-right:38px;
    position:relative
}

.dcjq-mega-menu ul.menu li a .dc-mega-icon {
    background:url(../assets/arrow.png) no-repeat scroll 0 0 transparent;
    display:block;
    height:6px;
    position:absolute;
    right:20px;
    top:6px;
    width:8px
}

.dcjq-mega-menu ul.menu li.mega-hover a .dc-mega-icon {
    background-position:0 100%
}

/* Mega Menu Styling */
/* Mega Drop Down Container */
.dcjq-mega-menu ul.menu li .sub-container {
    position:absolute;
    background:url(../assets/bg_sub_left.png) no-repeat 0 100%;
    padding-left:10px;
    margin-top:15px;
    margin-left:-420px;
    margin-right:300px
}

.dcjq-mega-menu ul.menu li .sub {
    background:url(../assets/bg_sub.png) no-repeat 100% 100%;
    padding:20px 20px 20px 10px
}

.dcjq-mega-menu ul.menu li .sub-container.mega .sub {
    padding:20px 10px 0 0
}

.dcjq-mega-menu ul.menu li .sub .row {
/* Clear the sub-menu floats */
    width:100%;
    overflow:hidden;
    clear:both
}

.dcjq-mega-menu ul.menu li .sub li {
    float:none;
    font-size:1em;
    font-weight:700
}

/* Sub-menu Headers */
.dcjq-mega-menu ul.menu li .sub li.mega-hdr {
/* Sub-menu headers - i.e. 2nd level navigation */
    float:left;
/* Float the sub-menus and give them a fixed width to from the mega menu rows */
    width:260px;
    margin:0 10px 20px;
    border:1px solid #ccc
}

.dcjq-mega-menu ul.menu li .sub a {
/* Clear the styles from the top-level links and set the font styles */
    background:none;
    border:none;
    text-shadow:none;
    color:#111;
    padding:7px 10px;
    display:block;
    float:none;
    text-decoration:none;
    font-size:.9em
}

.dcjq-mega-menu ul.menu li .sub li.mega-hdr a.mega-hdr-a {
    padding:7px 10px;
    margin-bottom:5px;
    border-bottom:1px solid #ccc;
    text-transform:uppercase;
    font-weight:700;
    color:#53b0e4;
    background:#EAEAEA url(../assets/bg_hdr.png) repeat-x center center
}

.dcjq-mega-menu ul.menu li .sub li.mega-hdr a.mega-hdr-a:hover {
    color:#000;
    text-shadow:none
}

/* Add the individual sub-menu backgrounds */
.dcjq-mega-menu ul.menu li .sub li#menu-item-1 {
    background:url(../assets/napkins.png) no-repeat 135px 40px
}

.dcjq-mega-menu ul.menu li .sub li#menu-item-2 {
    background:url(../assets/bath.png) no-repeat 135px 40px
}

.dcjq-mega-menu ul.menu li .sub li#menu-item-3 {
    background:url(../assets/bed.png) no-repeat 135px 40px
}

.dcjq-mega-menu ul.menu li .sub li#menu-item-4 {
    background:url(../assets/spas.png) no-repeat 135px 40px
}

/* Style the 3rd level links */
.dcjq-mega-menu ul.menu li .sub li ul li {
    margin-right:90px
}

.dcjq-mega-menu ul.menu .sub li.mega-hdr li a {
    color:#444;
    font-weight:400;
    padding:3px 0 3px 32px;
    background:url(../assets/bullet.png) no-repeat 10px 8px
}

.dcjq-mega-menu ul.menu .sub li.mega-hdr li a:hover {
    color:#00679c;
    background-image:url(../assets/bullet_on.png)
}

/* Styling for items with only 2 levels */
.dcjq-mega-menu ul.menu li .sub-container.non-mega .sub {
    padding:20px 20px 20px 10px
}

.dcjq-mega-menu ul.menu li .sub-container.non-mega li {
    width:190px
/* Set the drop down width */
}

.dcjq-mega-menu ul.menu li .sub-container.non-mega li a {
    padding:7px 5px 7px 22px;
    background:url(assets/bullet.png) no-repeat 5px 12px
}

.dcjq-mega-menu ul.menu li .sub-container.non-mega li a:hover {
    color:#900;
    background-image:url(../assets/bullet_on.png)
}
