﻿#wrapper {
    width:1010px;
    border-top:3px solid #92a5bc;
    border-bottom:1px solid #92a5bc;
    margin:0 auto;
    text-align:left
}

#rotator {
    background:#FFF;
    color:#000;
    position:relative;
    padding-bottom:2.6em;
    margin:0;
    font-size:16px
}

/* Tabs */
ul.ui-tabs-nav,li.ui-tabs-nav-item,li.ui-tabs-nav-item a:link,li.ui-tabs-nav-item a:visited {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    line-height:1.3;
    text-decoration:none;
    font-size:100%;
    list-style:none;
    float:left;
    font-family:Arial,Helvetica,sans-serif
}

ul.ui-tabs-nav {
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
    width:100%;
    background:#FFF url(../assets/pagesslider/tabs.gif) repeat-x bottom right;
    border-top:1px solid #FFF
}

/* Non-Selected Tabs */
li.ui-tabs-nav-item a:link,li.ui-tabs-nav-item a:visited {
    font-size:.8em;
    font-weight:400;
    color:#999;
    background:#FFF url(../assets/pagesslider/tabs.gif) repeat-x bottom left;
    border-left:1px solid #FFF;
    border-right:1px solid #c5ced9
}

/* Hovered Tab */
#rotator .ui-tabs-nav-item a:hover,#rotator .ui-tabs-nav-item a:active {
    background:#FFF url(../assets/pagesslider/active.gif) repeat-x bottom left;
    color:#333
}

#rotator .ui-tabs-nav-item a span {
    float:left;
    padding:1em;
    cursor:pointer
}

/* Active Tab */
#rotator .ui-tabs-selected a:link,#rotator .ui-tabs-selected a:visited,#rotator .ui-tabs-selected a:hover,#rotator .ui-tabs-selected a:active {
    background:#fff url(../assets/pagesslider/active.gif) repeat-x bottom left;
    color:#333
}

/* Content Panels */
#rotator .ui-tabs-panel {
    font-family:Arial,Helvetica,sans-serif;
    clear:left;
    color:#000;
    padding:40px 540px 15px 15px;
    height:225px
}

#rotator .ui-tabs-hide {
    display:none
}

#rotator h2 {
    color:#39F;
    font-weight:400;
    margin:0;
    font-size:1.8em;
    line-height:1.2em
}

#rotator p {
    font-size:1.1em;
    margin:.5em 0;
    color:#333
}

#rotator .btn_get_started {
    float:left;
    height:30px;
    width:99px;
    text-indent:-9999em;
    margin-right:7px;
    overflow:hidden;
    background:transparent url(../assets/getstarted.gif) no-repeat
}

#rotator .btn_learn_more {
    float:left;
    height:26px;
    font-size:.9em
}

/* Background Images */
#rotator #fragment-1 {
    background:transparent url(../assets/pagesslider/second.png) no-repeat top right
}

#rotator #fragment-2 {
    background:transparent url(../assets/pagesslider/first.png) no-repeat top right
}

#rotator #fragment-3 {
    background:transparent url(../assets/pagesslider/third.png) no-repeat top left;
    padding:40px 15px 15px 540px
}

#rotator #fragment-4 {
    background:transparent url(../assets/pagesslider/support.jpg) no-repeat top left;
    padding:40px 15px 15px 540px
}

/* Address Section */
.hoffice {
    float:left;
    width:36%
}

.foffice {
    margin-left:10px;
    float:left;
    width:36%
}

.sociallinks {
    margin-left:10px;
    float:left;
    width:20%
}

.lcontact {
    float:left;
    width:56%
}

.rcontact {
    margin-left:64%
}
