.mp_wrapper {
    width:1000px;
    height:570px;
    margin:auto;
    position:relative;
    text-align:left;
    background:transparent url(../assets/image_presentation.png) repeat top left
}

.mp_content_wrapper {
    position:absolute;
    top:0;
    left:0;
    width:720px;
    height:425px;
    background:transparent url(../assets/bg.png) repeat top left;
    -moz-border-radius:10px 0 0;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px
}

.mp_player {
    position:absolute;
    top:0;
    left:725px;
    width:275px;
    height:571px;
    background:transparent url(../assets/bg.png) repeat top left;
    -moz-border-radius:0 10px 10px 0;
    -webkit-border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px
}

.mp_content img {
    -moz-box-shadow:1px 1px 4px #000;
    -webkit-box-shadow:1px 1px 4px #000;
    box-shadow:1px 1px 4px #000;
    margin:20px 20px 10px;
    width:675px;
    height:385px
}

.mp_sub_content img {
    -moz-box-shadow:1px 1px 4px #000;
    -webkit-box-shadow:1px 1px 4px #000;
    box-shadow:1px 1px 4px #000;
    margin:20px 20px 10px;
    width:675px;
    height:385px
}

.mp_sub_sub_content img {
    -moz-box-shadow:1px 1px 4px #000;
    -webkit-box-shadow:1px 1px 4px #000;
    box-shadow:1px 1px 4px #000;
    margin:20px 20px 10px;
    width:675px;
    height:385px
}

.mp_description {
    background-image:url(../assets/transparent-bg.png);
    background-repeat:repeat;
    height:115px;
    left:20px;
    overflow:hidden;
    position:absolute;
    top:290px;
    width:675px
}

.mp_description h2 {
    font-size:26.5px;
    margin-bottom:5px;
    margin-top:5px;
    color:#fff;
    text-shadow:1px 1px #3F92D2,1px 1px #3F92D2;
    background:transparent url(../assets/bg.png) repeat top left;
    padding:3px 0 4px 10px;
    -moz-box-shadow:0 0 4px #000 inset;
    -webkit-box-shadow:0 0 4px #000 inset;
    box-shadow:0 0 4px #000 inset
}

.mp_description h2:hover {
    text-shadow:1px 1px #1A4A6F,2px 2px #1A4A6F;
    color:#3f92d2
}

.mp_description p {
/*text-transform:uppercase;*/
    padding:5px;
    line-height:17px;
    font-size:14px;
    color:#fff
}

.mp_songs {
    width:320px;
    height:203px;
    position:absolute;
    right:20px;
    top:20px
}

a.mp_playall {
    background:#000 url(../assets/play_big.png) no-repeat center center;
    width:50px;
    height:50px;
    position:absolute;
    top:98px;
    left:96px;
    text-indent:-9000px;
    outline:none;
    display:none;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    opacity:.7;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70)
}

.mp_songs > div {
    background:transparent url(../assets/bg.png) repeat top left;
    width:100%;
    margin-bottom:5px;
    height:30px
}

.mp_songs div h3 {
    width:260px;
    line-height:30px;
    margin-left:10px;
    float:left
}

.mp_options {
    width:48px;
    float:right
}

.mp_options span {
    text-indent:-9000px;
    width:20px;
    height:26px;
    margin:2px 2px 0 0;
    float:left;
    cursor:pointer
}

.mp_options span.mp_addpl {
    background:transparent url(../assets/add.png) no-repeat center center
}

.mp_options span.mp_play {
    background:transparent url(../assets/play.png) no-repeat center center
}

ul.mp_albums img {
    width:110px;
    -moz-box-shadow:1px 1px 4px #000;
    -webkit-box-shadow:1px 1px 4px #000;
    box-shadow:1px 1px 4px #000;
    cursor:pointer;
    margin-top:3px
}

.rows {
    border:1px solid #FFF;
    height:50px;
    width:85%;
    margin:auto;
    padding:12px 10px;
    margin-top:12px;
    background-image:url(../assets/rows.png);
    background-repeat:repeat
}

.left {
    float:left;
    position:relative;
    width:38%
}

.left img {
    background:none repeat scroll 0 0 #FFF;
    border:1px solid #CCC;
    float:left;
    padding:3px;
    width:62px
}

.right {
    width:60%;
    font-family:century gothic;
    font-size:15px;
    margin-left:37%
}

.right em {
    font-size:11px
}

.msg_thumbs {
    background:#000;
    position:absolute;
    width:250px;
    height:166px;
    top:-230px;
    display:none;
    left:54%;
    padding:30px;
    margin:0 0 0 -155px;
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-box-shadow:1px 1px 5px #000;
    -webkit-box-shadow:1px 1px 5px #000;
    box-shadow:1px 1px 5px #000;
    opacity:.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    overflow:hidden
}

.msg_thumbs a.msg_thumb_next,.msg_thumbs a.msg_thumb_prev {
    width:18px;
    height:20px;
    background-repeat:no-repeat;
    background-position:center center;
    position:absolute;
    top:50%;
    margin-top:-10px;
    opacity:.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50)
}

.msg_thumbs a.msg_thumb_next:hover,.msg_thumbs a.msg_thumb_prev:hover {
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99)
}

.msg_thumbs a.msg_thumb_next {
    background-image:url(../assets/icons/next_thumb.png);
    right:5px
}

.msg_thumbs a.msg_thumb_prev {
    background-image:url(../assets/icons/prev_thumb.png);
    left:5px
}

.msg_thumbs a.msg_thumb_close {
    position:absolute;
    bottom:0;
    width:50px;
    left:50%;
    margin:0 0 0 -25px;
    background:#202020 url(../assets/icons/up.png) no-repeat center center;
    height:16px;
    opacity:.7;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color:#fff;
    text-align:center
}

.msg_thumbs a.msg_thumb_close:hover {
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99)
}

.msg_loading {
    position:absolute;
    background:transparent url(../assets/icons/loading.gif) no-repeat center center;
    top:50%;
    left:50%;
    width:50px;
    height:50px;
    margin:-25px 0 0 -25px;
    z-index:25;
    display:none
}

.colorbox {
    background-color:#F9F;
    border:1px solid #fff;
    padding:3px 6px
}

#colorshades {
    display:block;
    left:57.5%;
    position:absolute;
    top:18px
}

#blueshade {
    background:#72919b
}

#producttype {
    display:block;
    left:-54px;
    position:absolute;
    top:18px
}

#producttypename {
    color:#FFC;
    display:block;
    font-size:32px;
    left:45px;
    position:absolute;
    top:36px;
    font-family:'Courier New' ,Courier,monospace
}

.subtitle {
    color:#FFF;
    font-size:13px;
    position:absolute;
    text-align:center;
    top:60%;
    width:110px;
    background:#000;
    opacity:.7
}

.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background:#fff;
    padding-top:19px;
    padding-bottom:19px;
    padding-left:10px
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width:65px;
    height:185px;
    margin-left:60%;
    margin-top:-11%
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:65px;
    height:185px
}

.jcarousel-skin-tango .jcarousel-item {
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom:10px
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    bottom:-8px;
    cursor:pointer;
    height:32px;
    left:21px;
    position:absolute;
    width:32px;
    background:transparent url(../assets/icons/bullet_arrow_down.png) no-repeat 0 0
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,.jcarousel-skin-tango .jcarousel-next-vertical:focus {
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor:default
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    height:32px;
    left:21px;
    position:absolute;
    top:-5px;
    width:32px;
    background:transparent url(../assets/icons/bullet_arrow_up.png) no-repeat 0 0
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor:default
}

.detailed {
    font-family:'Century Gothic';
    font-size:13px;
    min-height:105px
}

.detailed strong {
    font-size:15px;
    color:#09C;
    margin-top:10px
}

ul#mycarousel {
    height:140px
}

.triangle-border {
    background:none repeat scroll 0 0 #FFF;
    color:#333;
    margin-left:10px;
    margin-top:12px;
    padding:10px;
    position:relative;
    width:235px;
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    -moz-border-radius:4px
}

/* Variant : for left positioned triangle
------------------------------------------ */
.triangle-border.left {
    margin-left:30px
}

/* Variant : for right positioned triangle
------------------------------------------ */
.triangle-border.right {
    margin-right:30px
}

ul.fabric {
    position:absolute;
    margin:0;
    margin-left:60%;
    margin-top:9.1px;
    padding:0;
    white-space:nowrap;
    opacity:1
}

.fabric li {
    display:inline;
    list-style-type:none
}

.subcat li {
    margin-left:3px
}

.fabric a {
    padding:3px 10px
}

.fabric a:link,.fabric a:visited {
    color:#fff;
    background-color:#036;
    text-decoration:none
}

.fabric a:hover {
    color:#fff;
    background-color:#369;
    text-decoration:none
}

ul.backnapkin {
    margin-left:87%
}

.oval-thought-border {
    position:relative;
    padding:70px 30px;
    margin:1em auto 80px;
    border:10px solid #c81e2b;
    text-align:center;
    color:#333;
    background:#fff;
/* css3 */
/*
    NOTES:
    -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
    -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
    Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
    */
    -webkit-border-top-left-radius:240px 140px;
    -webkit-border-top-right-radius:240px 140px;
    -webkit-border-bottom-right-radius:240px 140px;
    -webkit-border-bottom-left-radius:240px 140px;
    -moz-border-radius:240px / 140px;
    border-radius:240px / 140px
}

/* creates the larger circle */
.oval-thought-border:before {
    content:"";
    position:absolute;
    z-index:10;
    bottom:-40px;
    right:100px;
    width:50px;
    height:50px;
    border:10px solid #c81e2b;
    background:#fff;
/* css3 */
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
/* reduce the damage in FF3.0 */
    display:block
}

/* creates the smaller circle */
.oval-thought-border:after {
    content:"";
    position:absolute;
    z-index:10;
    bottom:-60px;
    right:50px;
    width:25px;
    height:25px;
    border:10px solid #c81e2b;
    background:#fff;
/* css3 */
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
/* reduce the damage in FF3.0 */
    display:block
}

.closedesc {
    background-color:#CCC;
    color:#000;
    font-family:'Courier New' ,Courier,monospace;
    font-size:large;
    font-weight:lighter;
    left:610px;
    padding:3px;
    position:absolute;
    text-align:center;
    top:62%;
    width:70px;
    -moz-border-radius-topright:10px;
    -moz-box-shadow:0 0 4px #000 inset
}

.lockimage {
    left:89%;
    position:absolute;
    top:23%
}

.lockimage_1 {
    left:89%;
    position:absolute;
    top:54.2%
}

.lockimage_2 {
    left:89%;
    position:absolute;
    top:70%
}

.lockimage_3 {
    left:89%;
    position:absolute;
    top:85.1%
}

.currentselected {
    top:10px
}

.colorsize {
    position:relative;
    height:12px;
    margin-top:25px;
    margin-bottom:5px;
    font-size:13px;
    min-height:45px;
    margin-left:12%
}

.colorsize em {
    color:#FFF
}

.csbuttons {
    border-style:none none inset;
    font-size:13px;
    color:#fefefe;
    padding:10px 3px;
    text-decoration:none;
    border-bottom-width:3px;
    border-bottom-color:gray
}

#foo {
    font-family:'Century Gothic';
    font-size:13px;
    min-height:95px;
    color:#fff;
    background-color:#69F;
    position:relative;
    margin-top:5px;
    margin-left:10px;
    margin-right:10px;
    -moz-border-radius:5px
}

#foo p {
    min-height:90px;
    padding-left:12px;
    padding-right:12px;
    padding-top:4px
}

#inline2 {
    text-align:center;
    padding:8px
}

#inline2 h2 {
    color:#2B96F1
}

.basiclogo {
    bottom:5px;
    position:absolute;
    left:260px
}
