* {
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out
}

BODY {
    background-color:#eee;
    background-image:url(../assets/bck.png);
    background-repeat:repeat-x;
    margin:0;
    text-align:center;
    font:13px Palatino Linotype,Book Antiqua3,Palatino,serif;
    line-height:170%
}

.maindivcontainer {
    width: 1090px;
    margin: auto;
    position: relative;
    bottom: 0
}

.clear {
    clear: both
}

a {
    color: #000;
    text-decoration: underline
}

a:hover {
    color: #6D65A1;
    text-decoration: none
}

/*** HEADER ***/
#followinfiniti a {
    text-decoration: none !important
}

DIV.header {
    width: 95%;
    height: 110px;
    position: relative;
    margin: 0 auto
}

DIV.header .logo {
    width: 350px
}

DIV.header .logo span.logo {
    display: block;
    height: 65px;
    left: 10px;
    position: absolute;
    top: 39px
}

DIV.header .logo a {
    display: block;
    height: 70px;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
}

DIV.header .logo a .row1 {
    display: block;
    font-family: Century Gothic,Arial;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 10px;
}

DIV.header .logo a .row2 {
    display: block;
    color: #333;
    font-family: Century Gothic,Arial;
    font-weight: 700;
    line-height: 20px;
    padding-left: 85px;
}

div.header span.logo[class] {
    background: url(../assets/logo_infi.png) no-repeat scroll left top transparent;
}

.page_border strong {
    color: #00679c;
}

.page_border h1 {
    color: #272727;
}

/*** BOXES ***/
div.top_home {
    width:990px;
    margin:0 auto;
    background-color: #FFF;
    text-align: left;
    margin-bottom: 10px;
    position: relative;
    z-index: 50
}

div.top_home .box_top {
    width: 990px;
    height: 12px;
    font-size: 0;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='images/border_990_top.png')
}

div.top_home .box_down {
    width: 990px;
    height: 12px;
    font-size: 0;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='images/border_990_down.png')
}

div.top_home .box_top[class] {
    width: 990px;
    height: 12px;
    font-size: 0;
}

div.top_home .box_down[class] {
    width: 990px;
    height: 12px;
    font-size: 0;
}

div.top_home .box_body {
    width:990px;
    position:relative
}

div.top_subpage {
    width:990px;
    margin:0 auto;
    background-color:#FFF;
    text-align:left;
    margin-bottom:10px;
    position:relative;
    z-index:50
}

div.top_subpage .box_top {
    width:990px;
    height:12px;
    font-size:0;
}

div.top_subpage .box_down {
    width:990px;
    height:12px;
    font-size:0;
}

div.top_subpage .box_top[class] {
    width:990px;
    height:12px;
    font-size:0;
}

div.top_subpage .box_down[class] {
    width:990px;
    height:12px;
    font-size:0;
}

div.top_subpage .box_body {
    width:990px;
    position:relative
}

div.box_full {
    width:1090px;
    margin:0 auto;
    text-align:left;
    margin-bottom:10px
}

div.box_full .box_top {
    width:1090px;
    height:12px;
    font-size:0;

}

div.box_full .box_down {
    width:1090px;
    height:12px;
    font-size:0;

}

div.box_full .box_top[class] {
    width:1090px;
    height:12px;
    font-size:0;

}

div.box_full .box_down[class] {
    width:1090px;
    height:12px;
    font-size:0;

}

div.box_full .box_body {
    width:1090px;

    position:relative
}

div.boxes_3col {
    width:1030px;
    margin:0 auto;
    text-align:left;
    margin-bottom:30px
}

div.box1_3col {
    width:328px;
    float:left;
    margin-right:23px;
    background:#fff;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 3px 3px #ccc;
    -webkit-box-shadow:0 0 3px 3px #ccc;
    box-shadow:0 0 3px 3px #ccc
}

div.box2_3col {
    width:328px;
    float:left;
    margin-right:23px;
    background:#fff;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 3px 3px #ccc;
    -webkit-box-shadow:0 0 3px 3px #ccc;
    box-shadow:0 0 3px 3px #ccc
}

div.box3_3col {
    width:328px;
    float:left;
    margin-right:0;
    background:#fff;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 3px 3px #ccc;
    -webkit-box-shadow:0 0 3px 3px #ccc;
    box-shadow:0 0 3px 3px #ccc
}

div.boxes_3col .contents {
    height:275px
}

div.boxes_3col H1 {
    font-size:14px;
    font-weight:700;
    margin:0 10px 10px;
    padding-top:10px
}

div.boxes_3col .picture {
    margin:0 6px 10px;
    border-top:1px solid #FFF;
    border-bottom:1px solid #DDD;
    background-color:#FFF
}

div.boxes_3col .picture img {
    display:block;
    width:316px;
    border-bottom:1px solid #FFF;
    border-top-width:6px;
    border-top-style:solid
}

div.boxes_3col p {
    font-size:12px;
    line-height:18px;
    margin:0 15px 10px
}

div.boxes_3col a.link {
    display:block;
    float:right;
    line-height:20px;
    font-family:Century Gothic,Arial;
    font-size:11px;
    font-weight:700;
    text-decoration:none;
    margin-right:0;
    margin-bottom:10px;
    padding-left:20px;
    position:relative;
    right:25px
}

div.boxes_3col a.link .icon {
    display:block;
    width:13px;
    height:13px;
    position:absolute;
    top:4px;
    left:0;
    cursor:pointer
}

div.box1_3col a.link .icon[class] {
    background:url(../assets/icon_ball.png) no-repeat scroll left top transparent
}

div.box2_3col a.link .icon[class] {
    background:url(../assets/icon_ball.png) no-repeat scroll left top transparent
}

div.box3_3col a.link .icon[class] {
    background:url(../assets/icon_ball.png) no-repeat scroll left top transparent
}

div.slide_footer {
    margin:0 25px
}

div.slide_footer h3 {
    padding-top:0;
    width:40%;
    font-size:16px;
    margin:10px auto 5px
}

div.slide_footer H2 {
    font-size:15px;
    font-weight:400;
    margin:0;
    padding:5px 0;
    color:#272727
}

/*** SUBPAGE ***/
div.top_subpage .status {
    margin-top:31px;
    margin-left:5px;
    margin-right:5px;
    border-top:1px solid #EDEDED
}

div.top_subpage .links {
    height:40px;
    position:relative
}

div.top_subpage .links p {
    font-size:11px;
    line-height:14px;
    color:#555;
    position:absolute;
    top:21px;
    left:18px;
    margin:0;
    padding-left:20px;
    background:url(../assets/icon_status.gif) 0 0 no-repeat
}

div.top_subpage .links a {
    color:#555;
    text-decoration:none;
    font-weight:700
}

div.top_subpage .links a:hover {
    color:#555;
    text-decoration:underline
}


div.subpage div.contents {
    margin:0 auto;
    width:1030px
}

div.subpage div.page {
    width:75%;
    float:left;
    border-right:1px dotted #ccc
}

div.subpage div.page_border {
    padding-bottom:0
}

div.subpage div.r_column {
    float:right;
    margin-right:10px;
    margin-top:12px;
    padding-bottom:0;
    width:235px
}

div.page h1 {
    font-size:30px;
    font-weight:700;
    margin:0 0 20px;
    padding:20px 0 0
}

div.page h2 {
    font-size:26px;
    font-weight:700;
    margin:0 0 10px;
    padding:0
}

div.page h3 {
    font-size:20px;
    font-weight:700;
    margin:0 0 10px;
    padding:0
}

div.page h4 {
    font-size:16px;
    font-weight:700;
    margin:0 0 10px;
    padding:0
}

div.page h5 {
    font-size:14px;
    font-weight:700;
    margin:0 0 10px;
    padding:0
}

div.page h6 {
    font-size:12px;
    font-weight:700;
    margin:0 0 10px;
    padding:0
}

div.page p {
    margin:0;
    padding-bottom:15px;
    line-height:20px
}

div.page .downline {
    border-bottom:1px solid #CCC
}

div.page p.downline {
    border-bottom:1px solid #CCC;
    padding-bottom:3px;
    margin-bottom:15px
}

div.page img {
    display:block;
    padding:2px 0;
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    margin-bottom:15px;
    border-left-width:0;
    border-right-width:0
}

div.page img.nostyle {
    display:inline;
    padding:0;
    border-width:0;
    margin:0
}

div.page .alignleft {
    float:left;
    margin-right:20px
}

div.page .alignright {
    float:right;
    margin-left:20px
}

div.page .aligncenter {
    margin:0 auto 15px
}

div.page ul {
    list-style-type:square;
    padding:0 0 0 16px;
    margin:0 0 15px
}

div.page li {
    padding-bottom:5px
}

div.page table {
    width:100%;
    border-collapse:collapse;
    line-height:normal;
    font-size:12px;
    text-align:left;
    margin:0 0 15px
}

div.page table th {
    background-color:#CCC;
    font-weight:700;
    padding:3px 6px;
    border-bottom:1px solid #FFF
}

div.page table td {
    background-color:#E9E9E9;
    padding:3px 6px;
    border-bottom:1px solid #FFF
}

div.page table td.title {
    font-weight:700
}

a.button {
    text-decoration:none;
    display:inline;
    font-weight:700;
    font-size:11px;
    border-width:0
}

a.button:hover {
    color:#FFF;
    text-decoration:none;
    background-color:#000
}

/*** AJAX FORM ***/
div.page table.ajaxForm {
    width:auto;
    border-collapse:collapse
}

div.page table.ajaxForm td {
    background:none;
    border-width:0;
    padding:5px 0 0;
    vertical-align:top
}

div.page table.ajaxForm td.label {
    width:110px;
    line-height:22px
}

div.page td.label label,div.page td.label .empty_text {
    display:block;
    height:100%;
    padding-right:18px;
    position:relative
}

div.page td.label .checkbox {
    display:block;
    height:100%;
    padding-right:18px;
    position:relative
}

div.page td.label .required_text {
    display:block;
    font-size:0;
    width:15px;
    height:22px;
    position:absolute;
    top:0;
    right:5px;
    background:url(../assets/required.gif) center center no-repeat;
    text-indent:-10000px;
    cursor:pointer
}

input.text {
    display:block;
    width:200px;
    border:1px solid #888;
    padding:3px 4px;
    margin:0;
    font-family:arial;
    font-size:12px;
    color:#000
}

input.button {
    display:block;
    background-color:#555;
    color:#FFF;
    font-family:arial;
    font-weight:700;
    font-size:11px;
    padding:5px 10px;
    border-width:0;
    cursor:pointer
}

input.submit {
    margin-top:10px
}

input.checkbox {
    position:relative;
    top:2px;
    left:-4px
}

input.radio {
    position:relative;
    top:2px;
    left:-5px
}

textarea {
    display:block;
    width:350px;
    border:1px solid #888;
    padding:4px;
    margin:0;
    height:100px;
    font-family:arial;
    font-size:12px;
    color:#000
}

select {
    display:block;
    width:150px;
    border:1px solid #888;
    padding:2px 2px 2px 4px;
    margin:0;
    font-family:arial;
    font-size:12px;
    color:#000
}

label {
    cursor:pointer
}

span.required_text {
    color:#EE4000
}

div.php_invalid {
    color:#EE4000;
    padding:10px;
    border:1px solid #CCC;
    background-color:#E9E9E9;
    font-size:12px;
    margin-bottom:15px
}

div.is_valid {
    color:#008600
}

/*** RIGHT COLUMN BOX ***/
div.r_column .box h2 {
    font-size:18px;
    color:#B38144;
    margin-bottom:0;
    margin-top:20px
}

div.r_column .box p {
    font-size:11px;
    line-height:14px;
    padding:0 25px 10px;
    margin:0
}

div.r_column .box img {
    display:block;
    margin-left:25px;
    margin-bottom:10px;
    border:1px solid #A9A9A9
}

/*** SLIDER ***/
div.slider {
    display:none
}

div.homeslide-0 {
    display:block
}

#slidingFeatures {
    background:#efefef;
    position:relative;
    overflow:hidden;
    width:980px;
    height:250px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    margin:auto
}

.jshowoff {
    width:980px;
    margin:auto;
    background:#686464;
    -moz-border-radius:4px;
    border-radius:4px;
    padding:.7em 1.5em;
    color:rgba(0,0,0,.8);
    text-shadow:0 1px 0 #fff;
    line-height:1.5
}

.jshowoff:before,.jshowoff:after {
    z-index:-1;
    position:absolute;
    content:"";
    bottom:15px;
    left:10px;
    width:970px;
    top:80%;
    max-width:300px;
    background:rgba(0,0,0,0.7);
    -webkit-box-shadow:0 15px 10px rgba(0,0,0,0.7);
    -moz-box-shadow:0 15px 10px rgba(0,0,0,0.7);
    box-shadow:0 15px 10px rgba(0,0,0,0.7);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    transform:rotate(-3deg)
}

.jshowoff:after {
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    transform:rotate(3deg);
    right:10px;
    left:auto
}

.jshowoff div {
    width:980px;
    height:250px;
    margin:auto
}

.jshowoff div,.jshowoff img,.jshowoff {
    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px
}

#basicFeatures,.jshowoff.basicFeatures,.jshowoff.basicFeatures img,.jshowoff.basicFeatures div {
    -webkit-border-radius:0;
    -moz-border-radius:0
}

.jshowoff div p,.jshowoff div h2 {
    background-color:#efefef
}

.jshowoff h2,.jshowoff p {
    font-size:18px;
    padding:15px 20px 0;
    margin:0
}

.jshowoff p {
    font-size:13px;
    line-height:15px
}

.eddie {
    float:right;
    padding:15px 20px
}

.jshowoff p.jshowoff-slidelinks {
    position:absolute;
    bottom:14px;
    right:25px;
    margin:0;
    padding:0
}

.jshowoff-slidelinks a,.jshowoff-controls a {
    display:block;
    background-color:#000;
    color:#fff;
    padding:5px 7px;
    margin:5px 0 0 5px;
    float:left;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    outline:none;
    font-size:11px;
    line-height:14px
}

.jshowoff-slidelinks a:hover,.jshowoff-controls a:hover {
    color:#fff
}

.jshowoff-slidelinks a.jshowoff-active,.jshowoff-slidelinks a.jshowoff-active:hover {
    background-color:#fff;
    color:#000
}

p.jshowoff-controls {
    background:#aaa;
    overflow:auto;
    height:29px;
    padding:0 0 5px 5px;
    margin:0;
    -moz-border-radius-bottomleft:6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius:6px
}

.jshowoff-controls a {
    margin:5px 5px 0 0;
    font-size:12px;
    line-height:15px;
    padding:4px 8px 5px
}

.jshowoff-pausetext {
    color:#fff
}

/*** SUBMENU ***/
div.r_column h2 {
    font-family:Century Gothic,Arial;
    font-size:18px;
    font-weight:700;
    padding:0 25px;
    margin:15px 0 12px
}

div.r_column .subnav p {
    font-size:11px;
    line-height:14px;
    padding:0 25px 10px;
    margin:0
}

div.subnav {
    background:url(../assets/submenu.gif) top left repeat-y #A9A9A9;
    color:#FFF;
    margin-right:1px
}

div.subnav .subnav_top {
    background:url(../assets/submenu_top.gif) top left no-repeat;
    font-size:0;
    height:6px
}

div.subnav .subnav_down {
    background:url(../assets/submenu_down.gif) bottom left no-repeat #878787;
    font-size:0;
    height:10px;
    margin-top:5px
}

div.subnav a {
    color:#FFF;
    text-decoration:none
}

div.subnav a:hover {
    color:#333;
    text-decoration:none
}

div.subnav ul {
    font-size:14px;
    line-height:28px;
    list-style-type:none;
    margin:0;
    padding:7px 15px 8px
}

div.subnav ul ul {
    padding:0 0 12px;
    margin:0;
    list-style-type:none;
    font-size:12px;
    line-height:18px
}

div.subnav li {
    border-bottom:1px solid #CBCBCB
}

div.subnav li li {
    border-bottom:none;
    display:inline
}

div.subnav li ul {
    display:none
}

div.subnav li.current_page_item ul {
    display:block
}

div.subnav li a {
    display:block;
    background:url(../assets/rmenu_item.gif) 2px 10px no-repeat;
    padding-left:17px
}

div.subnav li.current_page_item a {
    color:#333;
    background:url(../assets/rmenu_item_active.gif) 2px 10px no-repeat
}

div.subnav li ul a {
    display:block;
    background:none;
    padding-left:17px
}

div.subnav li.current_page_item ul a {
    display:block;
    color:#FFF;
    background:none
}

div.subnav li.current_page_item ul a:hover {
    color:#333;
    background:none
}

.rightribbon {
    display:block;
    left:100%;
    position:absolute
}

.leftribbon {
    display:block;
    left:-5%;
    position:absolute
}

/* Contact Page */
.messagewrapper {
    width:55%
}

.messagewrapper form {
    padding:3px 0 0;
    margin:10px auto;
    width:500px
}

.messagewrapper fieldset {
    border:none;
    margin:0
}

.messagewrapper fieldset legend {
    font-weight:700;
    color:#555;
    font-size:22px;
    margin:15px 0 0 6px
}

ol {
    list-style-type:none;
    margin:0;
    padding:0
}

.messagewrapper li {
    float:left;
    padding:10px
}

.messagewrapper li.last {
    margin-top:2px;
    position:relative;
    text-align:right
}

.messagewrapper label {
    display:block;
    cursor:pointer;
    font-weight:700;
    line-height:24px
}

.messagewrapper input,textarea {
    background-color:#FFF;
    color:#4d4d4d;
    border:1px solid #c4c4c4;
    font:13px Helvetica,Arial,"Nimbus Sans L",FreeSans,sans-serif;
    padding:8px 12px;
    width:250px;
    _width:186px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:2px 2px 5px #e2e2e2,inset 2px 2px 5px #e2e2e2;
    -moz-box-shadow:2px 2px 5px #e2e2e2,inset 2px 2px 5px #e2e2e2;
    box-shadow:2px 2px 5px #e2e2e2,inset 2px 2px 5px #e2e2e2;
/* IE filter */
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#e2e2e2',Direction=135,Strength=5);
    -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color='#e2e2e2',Direction=135,Strength=5)"
}

.messagewrapper input:focus,textarea:focus {
    border-color:#4d4d4d
}

.commentForm #notifications {
    border:1px dashed #61abca;
    float:left;
    margin-left:13px;
    padding:10px;
    width:143%;
    display:none
}

.messagewrapper input[type="submit"] {
    background-color:#88addb;
    color:#fff;
    cursor:pointer;
    font:bold 1em/1.2 Georgia,"Times New Roman" ,Times,Cambria,"Nimbus Roman No9 L" ,serif;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    color:#fff;
    padding:10px 20px;
    background:-moz-linear-gradient(top,#afd9fa 0%,#588fad);
    background:-webkit-gradient(linear,left top,left bottom,from(#afd9fa),to(#588fad));
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border:1px solid #036;
    -moz-box-shadow:0 1px 3px rgba(000,000,000,0.5),inset 0 0 1px rgba(255,255,255,1);
    -webkit-box-shadow:0 1px 3px rgba(000,000,000,0.5),inset 0 0 1px rgba(255,255,255,1);
    width:120px
}

.messagewrapper input[type="submit"]:hover {
    background:#c50a1f;
    text-shadow:none
}

.messagewrapper textarea {
    width:365px;
    overflow:auto;
    height:105px
}

#browse {
    background:url(../assets/browse.png) no-repeat;
    text-indent:-100px;
    margin-bottom:10px
}

.sharebox a {
    border:0 solid #000
}

.rightsub a {
    border-style:dashed;
    border-width:0 0 1px;
    width:65%;
    font-family:'Book Antiqua';
    font-size:14px
}

#SocialBox {
    background-position:-moz-linear-gradient(top,#fff,#ebf4fb);
    width:96%;
    float:left;
    padding:12px
}

#SocialBox img {
    border:solid 0 #ebf4fb;
    display:inline
}

/* End */
/* About Us Page */
.aboutus ul {
    list-style-image:url(../assets/bullet_about.png);
    cursor:pointer
}

/* End */
/* Portfolio Page */
.portfolio ul {
    cursor:pointer;
    margin:0
}

/* End */
.zitem {
    width:115px;
    height:75px;
    border:4px solid #929A9D;
    margin:5px 5px 5px 0;
/* required to hide the image after resized */
    overflow:hidden;
/* for child absolute position */
    position:relative;
/* display div in line */
    float:left
}

.zitem .caption {
    width:115px;
    height:30px;
    background:#000;
    color:#fff;
    font-weight:700;
/* fix it at the bottom */
    position:absolute;
    bottom:-1px;
/* fix IE issue */
    left:0;
/* hide it by default */
    display:none;
/* opacity setting */
    filter:alpha(opacity=70);
/* ie  */
    -moz-opacity:.7;
/* old mozilla browser like netscape  */
    -khtml-opacity:.7;
/* for really really old safari */
    opacity:.7
}

.zitem .caption a {
    text-decoration:none;
    color:#fff;
    font-size:12px;
/* add spacing and make the whole row clickable*/
    padding:5px;
    display:block
}

.zitem img {
    border:0;
    padding:0;
/* allow javascript moves the img position*/
    position:absolute
}

.portfoliotitle {
    color:#0098d1;
    text-decoration:underline;
    font:400 1.5em "trebuchet ms",serif
}

#google_translate_element {
    position:absolute;
    top:20px;
    left:87%
}

#followinfiniti {
    position:relative;
    margin-left:87%
}

/*** FOOTER ***/
.footer {
    width:100%;
    background:#ebebeb;
    border-top:1px solid #272727;
    text-align:left;
    color:#f0f0f0;
    background-image:url(../assets/foot2.png);
    background-repeat:repeat-x;
    font-size:13px
}

.footer h2 {
    color:#fff;
    text-shadow:0 1px 1px #ccc;
    font-weight:300
}

.foot_footer {
    background:#272727;
    background-image:url(../assets/foot.png);
    background-repeat:repeat-x;
    color:#fff;
    height:25px;
    font-size:12px
}

#menu2 ul {
    list-style-type:none;
    padding:0;
    color:#f0f0f0
}

#menu2 li {
    text-transform:capitalize
}

#menu2 a {
    color:#f0f0f0
}

.iconsfoot {
    display:inline-block;
    height:35px;
    margin-left:-6px;
    margin-top:-3px;
    position:absolute;
    width:35px
}

.iconsfoot_text {
    margin-left:12%;
    vertical-align:super
}

.usp {
    box-shadow:0 0 5px #888;
    background-color:#FFF;
    color:#09F;
    font-size:22px;
    font-weight:100;
    height:45px;
    margin:20px auto 30px;
    padding-top:3px;
    width:58%;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomleft:6px;
    -moz-border-radius-bottomright:6px
}

.box_features {
    background-color:#A4C1D1;
    border:1px solid #FFF;
    height:45px;
    left:43%;
    padding:15px;
    position:absolute;
    top:513px;
    width:200px;
    z-index:20;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:5px 5px 5px #000;
    -webkit-box-shadow:5px 5px 5px #000;
    box-shadow:5px 5px 5px #000
}

#sep {
    background:url(../assets/seperateclients.png) no-repeat scroll center top transparent;
    height:20px
}

#testimonials_client {
    width:1030px;
    margin:auto;
    height:135px;
    margin-bottom:40px;
    text-align:left;
    padding:0 5px
}

#clients {
    position:relative;
    width:244px;
    height:160px
}

#clients img {
    position:absolute;
    left:0
}

#testimonials_client li {
    font-weight:400;
    color:#272727
}

.left_tc {
    width:244px;
    height:130px;
    position:relative;
    margin:auto;
    margin-top:15px;
    margin-bottom:30px
}

.left_tc h4 {
    color:#00679c;
    margin:5px
}

.left_tc i {
    color:#3CF;
    font-weight:500;
    font-style:oblique;
    font-size:19px
}

.left_tc em {
    margin-top:10px;
    margin-left:58%
}

.left_tc span {
    font-size:19px;
    font-weight:300;
    font-style:italic;
    color:gray
}

.right_tc h4 {
    color:#53b0e4;
    padding-top:5px
}

.right_tc {
    margin-left:72%;
    height:130px;
    padding-left:15px;
    border-left:1px dotted #000
}

#backtotop {
    width:10%;
    margin:auto;
    cursor:pointer;
    border:1px solid #bbb
}

.plinks a {
    text-decoration:none
}

.scontainer {
    background-color:#fff;
    background-image:url(../assets/clinen.png);
    background-repeat:repeat;
    width:430px;
    margin:50px auto;
    color:#272727;
    overflow:hidden;
    height:340px;
    -webkit-box-shadow:0 0 4px #ccc;
    -moz-box-shadow:0 0 4px #ccc;
    box-shadow:0 0 4px #ccc;
    -webkit-transform:rotate(-10deg);
    -moz-transform:rotate(-10deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=90)
}

.scontainer span {
    background-position:#729C3A;
    position:absolute;
    background:#729C3A;
    height:70px;
    left:0;
    position:absolute;
    text-indent:-5000px;
    top:72.4%;
    width:503px;
    z-index:10
}

.flying-text {
    left:-100px;
    top:65%;
    position:absolute;
    z-index:9999;
    font-size:32px;
    font-family:'Dynalight' ,cursive;
    font-size:49px;
    height:100px
}

.watermarktext {
    color:#999
}

.backgroundeffect {
    background-image:url(../assets/pattdev.png);
    background-repeat:repeat;
    left:73.4%;
    min-height:343px;
    position:absolute;
    top:218px;
    width:257px
}

.image_carousel {
    padding:15px 0 15px 40px
}

.image_carousel img {
    border:1px solid #ccc;
    background-color:#fff;
    padding:9px;
    margin:7px;
    display:block;
    float:left
}

.clearfix {
    float:none;
    clear:both
}

#otherpp {
    margin-top:30px;
    min-height:300px;
    margin-bottom:45px;
    text-align:left;
    padding-left:45px
}

#otherpp h3 {
    font-family:'Dynalight',cursive;
    font-size:31px;
    color:#2b96f1
}

#otherpp strong {
    color:#06C;
    margin-bottom:10px
}

#otherpp p {
    padding-right:100px
}

#otherpp a {
    text-decoration:none
}

#followinfiniti img {
    border:0 #fff solid
}

.foot_footer a {
    text-decoration:none;
    color:#39F
}

form.send_newsletter .search {
    background:none repeat scroll 0 0 rgba(50,50,50,0.2);
    border:0 solid #dbdbdb;
    display:inline;
    padding:8px 15px;
    width:195px
}

form.send_newsletter .button {
    background-color:#207cca;
    border:2px solid #207cca;
    color:#fafafa;
    display:inline;
    height:32px;
    left:-8px;
    padding:6px 15px;
    position:relative;
    vertical-align:top
}
