!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
      %title
        Infiniti Linens | #{content_for :page_title}
      = favicon_link_tag 'favicon.png'
      = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Dynalight'
      = stylesheet_link_tag 'application'
      = javascript_include_tag 'application'
    = csrf_meta_tag
%body
  .maindivcontainer
    = render partial: 'shared/header'
    = yield
    #backtotop.pagenav back to top
  = render partial: 'shared/footer'
  = render partial: 'shared/overlays'
  = render partial: 'shared/analytics'
